<div class="container-fluid">
  <div class="movie-edit">
    <div class="update-sections">
      <h2>Current Movie</h2>
      <%= render "shared/movie_card", movie: @movie %>
    </div>
    <div class="update-sections">
      <h2>Movie Options</h2>
      <% @temps.each do |movie| %>
        <% link_to "Update Movie" edit_movie_path(@movie.id) do %>
          <%= render "shared/movie_card", movie: movie %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
