<% if @movie && @movie.background %>
  <% background_data = JSON.parse(@movie.background.gsub("=>", ":").gsub(/\bnil\b/, "null")) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://www.themoviedb.org/t/p/original/<%= background_data["file_path"] %>);">
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(https://www.themoviedb.org/t/p/original/bm2pU9rfFOhuHrzMciV6NlfcSeO.jpg);">
    <div class="banner-headline">
      <h1>Kanto Movies</h1>
      <p class="banner-text">Find the movies playing in your neighbourhood and across town</p>
    </div>
  </div>
<% end %>
