<% if @movie && @movie.backgrounds[0] %>
  <% background_data = JSON.parse(@movie.backgrounds[0].gsub("=>", ":").gsub(/\bnil\b/, "null")) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://www.themoviedb.org/t/p/original/<%= background_data["file_path"] %>);">
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(https://www.themoviedb.org/t/p/original/bm2pU9rfFOhuHrzMciV6NlfcSeO.jpg);">
    <div class="banner-content">
      <h1>Kanto Movies</h1>
      <p class="banner-text">Find the movies playing in your neighbourhood, in your language</p>
      <br>
      <a class="btn btn-primary" href="movies">Movie Search</a>
    </div>
  </div>
<% end %>
