<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <%= image_tag "https://kanji.reader.bz/images/og/630x630/5a9e64e1e78cff72ec69e571875f9fb4.png", style: "width: 40%; height: auto; border-radius: 5px; margin: 24px;" %>
          <p>
            Find movies in your neighbourhood, in your language
          </p>
          <p><a href="#">Our Team</a></p>
        </div>
        <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h3>Contact</h3>
          <p><i class="fas fa-map-marker-alt"></i> Kawasaki, Mon Amour</p>
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:info@eventcompass.com">hello@kantomovies.com</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
