<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "https://kanji.reader.bz/images/og/630x630/5a9e64e1e78cff72ec69e571875f9fb4.png" %>
    <% end %>
  </div>
</div>
