<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="navbar-contents">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQErDTZupeGgnZUdFfsWHpvko8o3-sFir9TJg&usqp=CAU" %>
    <% end %>
    <div class="menu-dropdown" data-controller="menu-btn">
      <div class="menu-button" data-action="click->menu-btn#toggle">Menu</div>
      <div id="myDropdown" class="dropdown-content" data-menu-btn-target="navbarMenuBtn">
        <a href="movies" class="menu-button">Movies</a>
        <a href="showings" class="menu-button">Movie Start Times</a>
        <a href="about" class="menu-button">About</a>
        <a href="/" class="menu-button">Home</a>
      </div>
    </div>
  </div>
</div>
