<div data-controller="search"">
  <form
data-action="submit->search#search"
    >
    <div class="col-8 mb-2">
      <input
    type="text"
    class="form-control"
    placeholder="Input movie name..."
    data-search-target="input">
      </div>
    </div>
    <div class="col-1">
      <input type="submit" class="btn btn-info">
    </div>
