<div data-controller="search" data-search-movies="<%= movies%>">
  <form data-action="submit->search#search">
    <div class="col-8 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Input movie name..."
        data-search-target="input"
      >
      </div>
      <div class="col-1">
        <input type="submit" class="btn btn-secondary">
      </div>
    </form>
    <div id="search-results">
    </div>
  </div>
  <%# <% raise %> %>
