<div class="container-fluid">
  <div class="about-show-container">
    <div class="card shadow-sm rounded p-4 my-4">
      <h1 class="mb-3 text-gradient-primary">About</h1>
      <ul class="list-unstyled">
        <li class="mb-2">This website uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB.</li>
        <li class="mb-2">Errors in movie listings are possible due to the automated nature of the collection.</li>
        <li class="mb-2">Cinemas may be added to the listings at random intervals.</li>
        <li class="mb-2">Please note: the language shown is the film's original language. Some films are dubbed into Japanese.</li>
        <li class="mb-2">I'm aware that 'Chinese' is not a single language. Please direct feedback on this to TMDB!</li>
      </ul>
    </div>
  </div>
</div>
