<div class="container-fluid">
  <div class="about-show-container">
    <br>
    <h1>About</h1>
    <ul>
      <li>This website uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB</li>
      <li>Errors in movie listings are possible due to the automated nature of the collection</li>
      <li>Cinemas may be added to the listings at random intervals</li>
      <li>Please note.... the language given is the film's original language. Some films are dubbed into Japanese.</li>
      <li>I'm well aware that 'Chinese' is not a single language. Please direct feedback on this to TMDB!</li>
    </ul>
  </div>
</div>
