<%= render "shared/banner" %>
<div class="container-fluid">
  <h2 class="text-center">Things to Check Out!</h2>
  <div class="index-cards">
    <div class="index-card">
      <img src="https://static.wixstatic.com/media/7fe4e3_0681efdc476f4ddc995c9f0141164789~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/7fe4e3_0681efdc476f4ddc995c9f0141164789~mv2.jpg">
      <h4>10+ Languages!
      </h4>
      <p>Don't miss the chance to see a movie in your language!
      </p>
    </div>
    <div class="index-card">
      <img src="https://image.tmdb.org/t/p/original/roG0HIkYU9hjULjdifeO7If00rZ.jpg" alt="" width="100%">
      <h4>Classic movies
      </h4>
      <p>See classic movies the way they were meant to be seen!
      </p>
    </div>
    <div class="index-card">
      <img src="https://www.gotokyo.org/en/spot/885/images/885_0789_1_1400x1100.jpg">
      <h4>Cinemas with style!
      </h4>
      <p>Support old cinemas and help keep Tokyo's vibrant cinema scene
      </p>
    </div>
  </div>
</div>
