<%= render "shared/banner" %>
<div class="container-fluid">
  <div class="main-section">
    <div class="top-picks">
      <h1>Top Picks</h1>
      <div>
        <% @movies.select { |movie| movie.year < 1990 unless movie.year.nil? }.sort_by { |movie| -movie.popularity }.each do |movie| %>
          <%= render "shared/movie_card", movie: movie %>
        <% end %>
      </div>
    </div>
    <div class="search-side">
      <%= render "shared/search", movies: @movies.to_json %>
    </div>
  </div>
</div>
