.banner {
  background-size: cover;
  background-position: center -70px;
  padding: 150px 0;
  height: 600px;
  display: flex;
}

.banner-text {
  font-size: 20px;
  margin-left: 900px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  align-self: flex-start;
  margin-left: auto;
  display: inline-block; /* Ensures the pseudo-element width matches the text */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-headline {
  color: white;
  margin-bottom: 15px;
  margin-left: 900px;
  margin-top: -130px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  width: 360px;
  font-weight: bold;
  padding: 8px;
  background: grey;
  text-align: center;
  height: flex-end;
  border: solid;
  border-color: red;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  align-self: flex-start;
}
