.main-section {
  margin: 15px;
  display: flex;
}

.container-fluid {
  background-color: black;
  color: #688dab;
}

.top-picks {
  background-color: rgb(50, 50, 50);
  margin: 28px;
  border-radius: 5px;
  padding: 16px;
  width: 43%;
}

.search-side {
  background-color: rgb(50, 50, 50);
  margin: 28px;
  border-radius: 5px;
  padding: 16px;
  width: 56%;
  color: #688dab;
}

.small-text {
  font-size: 12px;
  font-style: italic;

}

.movie-poster {
  width: 120px;
  height: auto;
  border-radius: 5px;
  border: solid;
  border-color: yellow;
  margin: 16px;
  position: relative;
  overflow: hidden; /* Ensure image doesn't overflow */
}

.movie-poster img {
  width: 100%; /* Fill the container */
  height: auto; /* Allow the height to adjust proportionally */
  display: block; /* Remove extra space reserved for descenders */
}



.movie-poster-show {
  height: 540px;
  width: 360px;
  border-radius: 5px;
  border: solid;
  border-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 16px;
}

.movie-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(100, 100, 100);
  margin: 8px;
  position: relative;
}
.movie-card-text {
  // margin-top: 10px;
  // display: flex;
  margin: 4px;
  border-radius: 5px;
}

.movie-card-heading {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  padding: 4px;
}

.language-tag {
  background: black;
  border: solid;
  border-color: yellow;
  // margin-top: 8px;
  border-radius: 5px;
  // margin-right: 8px;
  // padding: 4px;
  align-self: flex-start;
  // margin-left: auto;

  padding-left: 4px;
  padding-right: 4px;
}
