.movie-show-container {
  margin: 0 auto;
  max-width: 67%;
  justify-content: center;
}

.movie-edit {
  margin: 0 auto;
  display: flex;
  max-width: 67%;
  justify-content: center;
  align-items: center;
}

.update-sections {
  padding: 16px;
  justify-content: center;
  max-width: 67%;
  align-self: flex-start;
}
