.showing-dates {
  font-size: 20px;
  border: solid;
  border-radius: 4px;
  padding: 8px;
  font-weight: 500;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: lightblue;
}

.weekend {
  background-color: #818c96;
  color: #635051;
}
