<div class="container" style="text: white">
  <div style = "display: flex; flex-wrap: wrap;">
    <div style ="width: 50%">
      <h1>New Additions</h1>
      <% @latest_additions.each do |movie| %>
        <%= render "shared/movie_card", movie: movie %>
      <% end %>
    </div>
    <div style ="width: 50%">
      <h1>Recent Additions</h1>
      <% if @latest_additions.empty? %>
        <% @recent_additions.each do |movie| %>
          <%= render "shared/movie_card", movie: movie %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
